:host {
    display: block;
    height: 100%;
}

md-sidenav-container {
    height: 100%;
}

md-sidenav {
    max-width: 70%;
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.wrapper {
    padding: 30px;
}

md-nav-list {
    align-self: stretch;
}