/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import '~@angular/material/theming';
@import "~theme.scss";
@include mat-core();
@include angular-material-theme($app-theme);

html, body {
    display: block;
    height: 100%;
    padding: 0;
    margin: 0;
}

* {
    outline: none;
}